[Unit]
Wants=sockets.target
Requires=proxy-https-to-local-port.socket
After=proxy-https-to-local-port.socket
DefaultDependencies=no

[Service]
ExecStart=/usr/lib/systemd/systemd-socket-proxyd 0.0.0.0:8081

[Install]
WantedBy=sockets.target
