[Unit]
Description=GC registry
Wants=registry-gc.timer

[Service]
Type=oneshot
ExecStart=bash -c 'rm -rf /containers/volumes/registry/data/*'
ExecStartPost=systemctl restart --user registry

[Install]
WantedBy=multi-user.target
