[Unit]
Description=Timer for gc registry
Requires=registry-gc.service

[Timer]
Persistent=true
OnCalendar=*-*-* 02:00:00
Unit=registry-gc.service

[Install]
WantedBy=timers.target
