flush ruleset

table inet filter {
  chain inbound_ipv4 {}

  chain inbound_ipv6 {
    icmpv6 type {
      nd-neighbor-solicit, nd-router-advert, nd-neighbor-advert
    } accept
  }

  chain inbound {
    type filter hook input priority 0; policy drop;
    ether type arp accept;

    # Allow traffic from established and related packets, drop invalid
    ct state vmap { established : accept, related : accept, invalid : drop }

    # Allow loopback traffic.
    iifname lo accept

    # Jump to chain according to layer 3 protocol using a verdict map
    meta protocol vmap { ip : jump inbound_ipv4, ip6 : jump inbound_ipv6 }

    # Allow port 22
    tcp dport { 22 } accept

    # Other ports
    include "/etc/nftables.d/*-inbound.conf"
  }

  chain forward {
    type filter hook forward priority 0; policy drop;
  }
}
